/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Configuração das fonts da página */
:root {
  font-size: 62.5%;

  --color-base-white: #ffffff;
  --color-base-gray-100: #f5f5f5;
  --color-base-gray-300: #8d8d99;
  --color-base-gray-900: #202024;
  --color-base-gray-500: #3D3D3D;
}

html,body,input {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

/* Configuração do app */
#app > *{
  border: 1px solid red;
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}
.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

/*Deixa o header/footer fixos enqunato a main habilita o scroll*/
main {
  overflow-y:scroll;
  background-color: var(--color-base-gray-100);
}

header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  font-weight: 700;
}

header form {
  flex: 1;
}

nav ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
}

ul li.active {
  color: var(--color-base-gray-900);
}

/* Configuração do Campo de Pesquisa */
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.6rem;

  border-color: var(--color-base-gray-100);
  border: 0;
  border-radius: .6rem;
  font-size: 1.6rem;

  font-weight: 600;
  opacity: 0.6;
}

.input-wrapper input::placeholder {
  opacity: 0.56;
  color: var(--color-base-gray-500);
}

/* Configuração da imagem */
.avatar {
  width: 4.2rem;
  height: 4.2rem;

 /* Cobre todo espaço sem modificar a estrutura da imagem */
  object-fit: cover;

  border-radius: 50%;
}

/* Configuração do Rodapé */
footer p{
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}