/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Configuração das cores-base do layout */
:root {
  font-size: 62.5%;

  --color-base-white: #ffffff;
  --color-base-gray-100: #f5f5f5;
  --color-base-gray-300: #8d8d99;
  --color-base-gray-900: #202024;
  --color-base-gray-500: #3D3D3D;
}

/* Configuração da fonte do layout */
html,body,input {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

/* Configuração do conteúdo */
#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

main {
  /* Overflow : Deixa o header/footer fixos, 
  enquanto a main habilita o scroll*/
  overflow-y:scroll;
  background-color: var(--color-base-gray-100);
}

/* Configuração do header da página */
header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  font-weight: 700;
}

header form {
  flex: 1;
}

nav ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
}

ul li.active {
  color: var(--color-base-gray-900);
}

/* Configuração do Campo de Pesquisa */
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.6rem;

  background-color: var(--color-base-gray-100);
  border: 0;
  border-radius: .6rem;
  font-size: 1.6rem;

  font-weight: 600;
  opacity: 0.6;
}

.input-wrapper input::placeholder {
  opacity: 0.56;
  color: var(--color-base-gray-500);
}

/* Configuração da imagem */
.avatar {
  width: 4.2rem;
  height: 4.2rem;

 /* Cobre todo espaço sem modificar a estrutura da imagem */
  object-fit: cover;

  border-radius: 50%;
}

/*Configuração da galeria */
main h1 {
  padding-top: 1.6rem;
  font-size: 2.4rem;
}

.gallery {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 2.2rem;
}

/* Configuração da proporção da imagem */
.item {
  background-color:var(--color-base-white);
  border-radius: .8rem;
  overflow: hidden;
}

.item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
/* Configuração dos Títulos */
.details {
  padding: 2.2rem;
}

.details h2 {
  font-size: 1.8rem;
}

/* Configuração da tag */
.tags {
  margin-top: 1.2rem;
}

.tags span {
  padding: .6rem;
  background-color: var(--color-base-gray-100);
  border-radius: .4rem;

  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}


/* Configuração do Rodapé */
footer p{
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}